{% load static i18n %}

<!DOCTYPE html>
<html lang="en">

    <head>
    	<meta charset="utf-8">
	  	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	  	<meta name="viewport" content="width=device-width, initial-scale=1">
	  	<title>Task Manager</title>
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}">
        
		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs-3.3.7/jqc-1.12.3/dt-1.10.16/af-2.2.2/b-1.5.1/b-colvis-1.5.1/fc-3.2.4/fh-3.1.3/kt-2.3.2/r-2.2.1/sc-1.4.4/sl-1.2.5/datatables.min.css"/>
		 
		<script type="text/javascript" src="https://cdn.datatables.net/v/bs-3.3.7/jqc-1.12.3/dt-1.10.16/af-2.2.2/b-1.5.1/b-colvis-1.5.1/fc-3.2.4/fh-3.1.3/kt-2.3.2/r-2.2.1/sc-1.4.4/sl-1.2.5/datatables.min.js"></script>

        <!-- /custom stylesheets -->
        <link href="{% static 'css/custom/base.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'css/custom/datatable.css' %}" rel="stylesheet" type="text/css">
        
        <!-- /custom javascript -->
        <script src="{% static 'js/pages/datatable.js' %}" type="text/javascript"></script>

    </head>

    <body>
  	<!-- Main navbar -->
  	<div class="navbar navbar-inverse">
  		<div class="navbar-header">
        <a class="navbar-brand" href="/"><img class="survey-logo" src="{% static 'images/logo-no-bg.png' %}" alt="logo"></a>
      </div>

      {% if user.is_authenticated %}
        <div class="navbar-collapse collapse" id="navbar-mobile">
          <div class="nav navbar-nav navbar-right">	
            <div class="user-dropdown">
              <button class="user-dropbtn"> {{ user }} <i class="fa fa-caret-down"></i></button>
              <div class="user-dropdown-content">
              </i><a href="logout/" class="logout-button"><i class="icon-switch2"></i></span>Logout</a>
              </div>
            </div>
          </div>
        </div>
      {% endif %}

  	</div>
    {% block content %}
 		{% endblock %}
    </body>

    <!-- Footer -->
    <div class="footer text-muted text-center">
      &copy; 2018. <span>All rights reserved</span>
    </div>
    <!-- /footer -->

</html>