{% extends 'base.html' %}
{% load static i18n %}

{% block content %}
    {% csrf_token %}
    <div id="table-container">
        <table id="task-datatable" class="table display" style="width:100%">
        <caption>Task List</caption>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Added on</th>
                    <th>Owner</th>
                    <th>Status</th>
                    <th>Modified by</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for task in tasks %}
                    <tr>
                        <td>{{ task.name }}</td>
                        <td>{{ task.description }}</td>
                        <td>{{ task.created_at }}</td>
                        <td>{{ task.owner }}</td>
                        {% if task.status %}
                            <td>Done</td>
                        {% else %}
                            <td>Undone</td>
                        {% endif %}
                        <td>{{ task.modified_by }}</td>
                        <td>
                        {% if task.status %}   
                            <button class="btn btn-success disabled">Mark Done</button>
                        {% else %}
                            <button class="btn btn-success mark-done" data-task-name="{{ task.name }}">Mark Done</button>
                        {% endif %}
                            {% if task.owner == user|stringformat:"s" %}
                                <button class="btn btn-primary edit-task" data-toggle="modal" data-target="#edit-task-modal" data-task-name="{{ task.name }}" data-task-desc="{{ task.description }}" data-task-status="{{ task.status }}">Edit</button>
                                <button class="btn btn-danger delete-task" data-toggle="modal" data-target="#delete-task-modal" data-task-name="{{ task.name }}">Delete</button>
                            {% else %}
                                <button class="btn btn-primary" disabled>Edit</button>
                                <button class="btn btn-danger" disabled>Delete</button>                            
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Add new task modal -->
    <div class="modal fade" id="add-task-modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" id="close-modal" data-dismiss="modal" aria-hidden="true">x</button>
                     <h3 class="modal-title">Add new Task</h3>

                </div>
                <div class="modal-body">
                    <div id="modal-name">
                        <span class="modal-span">Name*</span>
                        <input class="modal-input" id="add-name-input" type="text" name="name">
                    </div>
                    <div id="modal-desc">
                        <span class="modal-span">Description*</span>
                        <input class="modal-input" id="add-desc-input" type="text" name="description">
                    </div>
                    <div id="modal-status">
                        <label for="sel1">Select status (select one):</label>
                        <select class="form-control" id="add-status">
                            <option value="False">Undone</option>
                            <option value="True">Done</option>
                      </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" id="add-new-task">Apply</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <!-- Edit task modal -->
    <div class="modal fade" id="edit-task-modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" id="close-modal" data-dismiss="modal" aria-hidden="true">x</button>
                     <h3 class="modal-title">Edit Task</h3>

                </div>
                <div class="modal-body">
                    <div id="modal-name">
                        <span class="modal-span">Name*</span>
                        <input class="modal-input" id="edit-name-input" type="text" name="name">
                    </div>
                    <div id="modal-desc">
                        <span class="modal-span">Description*</span>
                        <input class="modal-input" id="edit-desc-input" type="text" name="description">
                    </div>
                    <div id="modal-status">
                        <label for="sel1">Select status (select one):</label>
                        <select class="form-control" id="edit-status">
                            <option value="False">Undone</option>
                            <option value="True">Done</option>
                      </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" id="save-edit-task">Apply</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <!-- Delete task modal -->
    <div class="modal fade" id="delete-task-modal">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Are you sure?</h4> 
                </div>
                <div class="modal-body">
                    <p>Do you really want to delete this task? This process cannot be undone.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger confirm-delete-task">Confirm</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <!-- /.modal -->

{% endblock %}
