body {
    background-color: #eee;
}

.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
}

.navbar {
  height: 62px;
  /*padding: 0px 25px 0px 25px;*/
  width: 100%;
  position: fixed;
  z-index: 1001;
}

.navbar-brand {
    padding: 0px;
}

/* Dropdown Button */
.user-dropbtn {
    background-color: #37474f;
    color: #B1B4BD;
    padding: 16px;
    font-size: 18px;
    border: none;
    min-width: 100px;
}

/* The container <div> - needed to position the dropdown content */
.user-dropdown {
    position: relative;
    display: inline-block;
    vertical-align: top;
}

/* Dropdown Content (Hidden by Default) */
.user-dropdown-content {
    display: none;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.user-dropdown-content a {
    color: #808184;
    font-size: 16px;
    padding: 12px 14px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.user-dropdown-content a:hover {
  color: #000000;
  font-weight: bold;
}

/* Show the dropdown menu on hover */
.user-dropdown:hover .user-dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.user-dropdown:hover .user-dropbtn {
    background-color: #333333;
}

#table-container {
  padding-top: 150px;
  padding-top: 150px;
  width: 95%;
  margin: auto;
}

.modal-body {
    position: relative;
    padding: 25px;
    display: grid;
}

#modal-name {
    margin-bottom: 10px;
}

#model-desc {
    margin-bottom: 10px;
}

.modal-span {
    width: 20%;
    float: left;

}

.modal-input {
    width: 80%;
    float: right;
}